@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    margin: 0;
}

header {
    background: url("img/softunii.jpg") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

/*.site-header > * {*/
    /*background: rgba(26, 27, 56, 0.9);*/
    /*background-size: 100% 100%;*/
/*}*/


.violet-background-header {
    background-color: #424577;
    opacity: 0.7;
    width: 100%;
}

.violet-background-header > p {
    padding: 30px;
    margin: 0;
    font-size: 2rem;
    color: white;
    width: 35%;
    float: left;
    opacity: 1 !important;

}

.violet-background-header > p > span {
    font-weight: bold;
    font-size: 2.5rem;
    color: #B6ADEC;
    opacity: 1 !important;
}

.header-section {
    text-align: center;
    margin: 0 auto;
    clear: both;

}

.header-section > img {
    border: 11px solid white;
    width: 180px;
    height: 180px;
    margin-top: 400px;
    margin-bottom: -106px;
    margin-left: 42px;
    -webkit-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
    z-index: 5;
    position: relative;


}

.violet-background-header > nav {
    text-align: right;
    height: 78px;
    padding-top: 22px;
}

.violet-background-header > nav > ul > li {
    padding: 10px;
    display: inline-block;
    margin-right: 28px;

}

.violet-background-header > nav > ul > li > a {
    color: white;
    text-decoration: none;
}

.violet-background-header > nav > ul > li > a:hover {
    color: #B6ADEC;
    cursor: pointer;
}

main {
    margin: 30px auto;
    width: 100%;
}

main article {
    display: inline-block;
}


main > content > article {
    float: left;
    padding: 88px;
    width: calc(65% - 125px);
}

main > content > article > h1 {
    color: #424577;
}

aside {
    padding: 0;
    z-index: 0;

}

aside > article {
    width: 31%;
    background: url(img/softunibilboard.jpg)no-repeat;
    background-size: 100% 100%;
    margin-right: -13px;
    color: white;
    margin-top: -31px;
}

aside > article > h1 > a {
    text-decoration: none;
    color: white;
}



.violet-background {
    background-color: #424577;
    opacity: 0.7;
    padding: 135px 50px 150px;

}

.violet-background > h1, .violet-background > p {
    opacity: 1; !important;
}

.choose-future > li {
    padding-bottom: 20px;
}

.choose-future > li a {
    opacity: 1; !important;
    color: white;
    text-decoration: none;
}

.choose-future > li > a {
    text-decoration: none;
}

.choose-future > a:hover {
    cursor: pointer;
}

.image-section {
    text-align: center;
}

.image-section img {
    padding: 34px;
    width: 332px;
    height: 332px;
    border-radius: 10%;
}

.violet-background > h1 > a {
    color: white;
    text-decoration: none;
}

footer {
    font-size: 1.6rem;
    padding: 13px;
    background-color: #414577;
    text-align: center;
    color: white;
    height: 20%;
}



.site-footer {
    background: #424577;
    text-align: center;
    font-size: 0.8em;
}

.site-footer section {
    vertical-align: top;
    color: white;
    width: 230px;
    margin: 5px;
    display: inline-block;
    text-align: left;
}

.site-footer .consulting p {
    margin-left: 30px;
}

.site-footer p.social-links {
    margin: 30px 0px 0px 50px;
}

.site-footer .social-links a {
    text-decoration: none;
    color: #424577;
    background: rgba(255, 255, 255, 0.5);
    font-size: 1.5em;
    margin: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
}

.site-footer .social-links a:hover {
    background: #aaa;
    box-shadow: 0px 0px 4px white;
}

.site-footer .extra-links .first-column {
    margin-left: 30px;
}

.site-footer .extra-links div {
    display: inline-block;
    width: calc(50% - 25px);
    vertical-align: top;
}

.site-footer .extra-links a {
    text-decoration: none;
    display: block;
    margin: 5px;
    color: #b6aa9d;
}

.site-footer .extra-links a:hover {
    color: #f1e3d2;
}

.site-footer .instagram-widget li {
    display: inline-block;
}

.site-footer .instagram-widget img {
    width: 58px;
    height: 58px;
}

.site-footer .instagram-widget img:hover {
    opacity: 0.8;
}
