@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #FFA000
    -webkit-animation: color 5s ease-in 0s infinite alternate running;
    -moz-animation: color 5s linear 0s infinite alternate running;
    animation: color 5s linear 0s infinite alternate running;
    margin: auto;
}

/* Animation + Prefix for browser */
@-webkit-keyframes color {
    100% { background-color: #c3cacc; }
}
@-moz-keyframes color {
    100% { background-color: #c8c2cc; }
}
@keyframes color {
    100% { background-color: #e8e4e4; }
}



header {
    margin-right: -16px;
}

nav {
    width: 100%;
    height: 66px;
    background-color: transparent;
    position: relative;
    top: -8px;
    right: -8px;
    z-index: 5;
}

nav ul {
    position: relative;
    top: 5px;
    left: 963px;
}

nav ul li {
    display: inline-block;
    overflow: hidden;
    padding: 0 10px;
}

nav ul li:hover {
    display: inline-block;
    overflow: hidden;
    border-bottom: 3px solid #FFA000;
    padding-bottom: 5px;
}

nav ul li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #647C93;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.img {
    margin: 6px auto;
    width: 100%;
    height: 300px;
    opacity: 0.7;
    z-index: 0;
    border-bottom: 3px solid #1F4569;
}

main {
    width: 998px;
    margin: 0 auto;
}


.story {
    font-size: 40px;
    color: black;
    text-align: center;
    margin-top: 69px;
    margin-bottom: 64px;
}

.verticalLine {
    margin-left: 440px;
    height: 2700px;
    border-left: thick solid #1F4569;
}

.line-images {
    border-radius: 50%;
    margin-left: -165px;
    height: 307px;
    margin-top: -18px;
    width: 315px;
    border: 3px solid #1F4569;
}

.line-images:hover, .image-2000:hover, .image-2004:hover, .image-2013:hover, .image-2030:hover, .image-2050:hover {
    cursor: pointer;
}


.text {
    width: 402px;
    font-size: 15px;
    position: relative;
    top: -328px;
    left: -665px;
}

.year, .year-2000, .year-2004, .year-2013, .year-2030, .year-2050 {
    font-size: 40px;
    color: black;
    position: relative;
    padding: 15px;
}

.year-2013  {
    top: -250px;
}

.year-2030 {
    top: -187px;
}

.year-2000 {
    top: -237px;
}

.year-2050 {
    top: -251px;
}

.image-2000, .image-2013, .image-2030, .image-2050  {
    border-radius: 50%;
    margin-left: -165px;
    height: 307px;
    margin-top: -251px;
    width: 315px;
    border: 3px solid #1F4569;
}

.image-2004 {
    border-radius: 50%;
    margin-left: -165px;
    height: 307px;
    width: 315px;
    border: 3px solid #1F4569;
}


.image-2013, {
    margin-top: -266px;
}

.image-2030 {
    margin-top: -221px;
}

.text-header, .text-header-2000, .text-header-2004, .text-header-2013, .text-header-2030, .text-header-2050 {
    font-size: 35px;
    position: relative;
    top: -350px;
    left: 214px;
}

.text-header, .text-header-2004, .text-header-2030 {
    left: -665px;
}

.text-2000, .text-2004, .text-2013, .text-2030, .text-2050 {
    font-size: 15px;
    width: 402px;
    position: relative;
    top: -328px;
    left: 220px;
}

.text-2004, .text-2030 {
    left: -665px;
}


.welcome {
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    color: #647C93;
}

a .welcome {
    text-align: center;
    font-size: 30px;
    color: #647C93;
}

a .welcome:hover {
    text-align: center;
    font-size: 30px;
    color: #FFA000;
}

.john-atanasoff, .university-2013, .open-doors, .older {
    position: relative;
    top: -261px;
}
